<h2>{{bank.naam}}</h2>

<p>Startsaldo: {{bank.startSaldo}}</p>
<p>Lopend saldo: {{bank.lopendSaldo}}</p>
<p>Berekend saldo: {{bank.huidigBerekendSaldo}}</p>
<p>Datum laatste verrichting: {{bank.datumLaatsteVerrichting}}</p>