<h2>Verrichting {{verrichting.verrichtingId}}</h2>

<table>
	<tr>
		<th>Categorie</th>
		<td>{{verrichting.categorie}}</td>
	</tr>
	<tr>
		<th>Bedrag</th>
		<td>{{verrichting.bedrag}} {{verrichting.valuta}}</td>
	</tr>
	<tr>
		<th>Datum</th>
		<td>{{verrichting.datum}}</td>
	</tr>
	<tr>
		<th>Status</th>
		<td>{{verrichting.status}}</td>
	</tr>
	<tr>
		<th>Tegenpartij</th>
		<td>{{verrichting.naamTegenpartij}} ({{verrichting.rekeningTegenpartij}})</td>
	</tr>
	<tr>
		<th>Type</th>
		<td>{{verrichting.type}}</td>
	</tr>
	<tr>
		<th>Mededeling</th>
		<td>{{verrichting.mededeling}}</td>
	</tr>
	<tr>
		<th>Bank reference</th>
		<td>{{verrichting.bankRef}}</td>
	</tr>
	<tr>
		<th>Info</th>
		<td>{{verrichting.info}}</td>
	</tr>
	<tr>
		<th>Bank</th>
		<td><a href="/bank/{{verrichting.bank}}">{{verrichting.bank}}</a></td>
	</tr>
	<tr>
		<th>Checksum</th>
		<td>{{verrichting.csum}}</td>
	</tr>
	<tr>
		<th>Valuta</th>
		<td>{{verrichting.valuta}}</td>
	</tr>
	<tr>
		<th>Rekening tegenpartij</th>
		<td>{{verrichting.rekeningTegenpartij}}</td>
	</tr>
	<tr>
		<th>Periodiciteit</th>
		<td>{{verrichting.periodiciteit}}</td>
	</tr>

</table>

<p>
<a href="/api/checkDuplicateVerrichtingen/{{verrichting.csum}}">Kijkt duplicates na</a>
</p>

<p>
	Categorie bepaald door business rule: {{verrichting.categoryByBusinessRuleClassifier}}
	<form action="/verrichting/{{verrichting.verrichtingId}}" method="POST">
		<label for="categorie">Categorie:</label>
		<input type="text" name="categorie" id="categorie" class="form-control" placeholder="categorie" value="{{verrichting.categorie}}" />

		<label for="periodiciteit">Periodiciteit:</label>
		<input type="text" name="periodiciteit" id="periodiciteit" class="form-control" placeholder="periodiciteit" value="{{verrichting.periodiciteit}}" />

		<label for="manualLabel">Label:</label>
		<input type="text" name="manualLabel" id="manualLabel" class="form-control" placeholder="manualLabel" value="{{verrichting.manualLabel}}" />

		<label for="datumDisplay">Datum:</label>
		<input type="text" name="datumDisplay" id="datumDisplay" class="form-control" placeholder="Datum" value="{{verrichting.datumDisplay}}" />

		<label for="recurringYearly">Recurring yearly:</label>
		<input type="text" name="recurringYearly" id="recurringYearly" class="form-control" placeholder="Recurring Yearly" value="{{verrichting.recurringYearly}}" />

		<label for="recurringMonthly">Recurring monthly:</label>
		<input type="text" name="recurringMonthly" id="recurringMonthly" class="form-control" placeholder="Recurring Monthly" value="{{verrichting.recurringMonthly}}" />

		<input type="submit" class="btn btn-default" value="submit" />
	</form>
</p>
